<div class="container-fluid dashboard">
  <h1 class="text-uppercase">Dashboard</h1>
  <loader *ngIf="loading"></loader>
  <div class="row" *ngIf="posts && !loading">
    <div class="col-xs-4" *ngFor="let post of posts">
      <a routerLink="/detail/{{post.id}}">
        <span>{{ post.name }}</span>
        <span>by {{ post.author }}</span>
      </a>
    </div>
  </div>
  <ul class="pager">
    <li><button class="btn" [disabled]="!page || page === 1 || loading" (click)="goPrevious()">Previous</button></li>
    <li><button class="btn" [disabled]="loading" (click)="goNext()">Next</button></li>
  </ul>
  <span>Page: {{ page }}</span>
</div>